@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="arxiki"><img src="~/img/businessman-1356063_1280.jpg"/></div>
    <div class="row"><h2>@ViewBag.Title.</h2></div>
    <div class="row">
        <h3>@ViewBag.Message</h3>
        <p>
            This is an employee registration form template that you may customize and use in your organization.
            You can use this form to register new employees in your company online, without having to deal with outdated procedures and paper forms.
            You can add multiple email recipients to this employee registration form,
            so both managers and the HR department will receive the information of the newly registered employee. Get this template for free!.
        </p>
        <p>
            <a class="btn btn-info" href="https://www.linkedin.com/in/moustafa-taleb-1b3b15aa/">LinkedIn &raquo;</a>
        </p>
    </div>
</div> 
 
