@{
    ViewBag.Title = "Home Page";
}

    <div class="arxiki"><img src="~/img/men-1979261_1920.jpg"/></div>
 


<div class="row">
    <div class="col-lg-10">
        <h2>New Employee Registration Form</h2>
        <p>
            This is an employee registration form template that you may customize and use in your
            organization. You can use this form to register new employees in your company online,
            without having to deal with outdated procedures and paper forms.

            You can add multiple email recipients to this employee registration form,
            so both managers and the HR department will receive the information of the newly
            registered employee. Get this template for free!.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Taleb01" target="_blank">About the Author &raquo;</a></p>
    </div>

</div>

